<h1>{{title}}</h1>
<p>This is the URN ISSN resolver hosted by the ISSN International Centre<br/>
In order to resolve an ISSN or an ISSN-L please use the following syntax :</p>
<ul>
  <li>For an ISSN resolution : <a href="https://urn.issn.org/urn:issn:1234-1231" target="_blank">https://urn.issn.org/urn:issn:1234-1231</a></li>
  <li>For an ISSN-L resolution : <a href="https://urn.issn.org/urn:issn:0256-8888?+issnl" target="_blank">https://urn.issn.org/urn:issn:0256-8888?+issnl</a></li>
</ul>