<div class="block">
  <section class="inner-block">
    <div class="triangle triangle-top"></div>
    <h1>URN <br> ISSN <br> RESOLVER</h1>
    <h2>Hosted <br> by the ISSN <br> International <br> Centre</h2>
    <form method="post" action="#">
      <p>
        Enter your
        <label><input type="radio" name="choice"> ISSN</label>
        <label><input type="radio" name="choice"> ISSN-L</label>
      </p>
      <p class="bg-search">
        <input type="search" name="search">
        <input type="submit" name="submit" value="">
      </p>
    </form>
    <div class="triangle triangle-bottom"></div>
  </section>
</div>
<div id="particles-js"></div>